Repository What-Today-FE/What-Today, pull requests merged in 2025-07, with the labels that each got.

#4 Vercel 배포
  .github/workflows/deploy.yml
  apps/what-today/build.sh
  apps/what-today/vercel.json
  packages/design-system/build.sh
  packages/design-system/vercel.json
Labels: 🌐 Deploy

#6 PR에 Preview 배포 링크 메시지 추가
  .github/workflows/deploy.yml
  .github/workflows/preview-comment.yml
Labels: ✨ Feat, 🌐 Deploy

#9 프로젝트 기초 세팅 수정 및 추가
  apps/what-today/tsconfig.json
  eslint.config.mjs
  package.json
  packages/design-system/src/main.tsx
  packages/design-system/tsconfig.json
  packages/design-system/vite.config.ts
Labels: 📦 Chore

#10 디자인 시스템 초기 세팅
  packages/design-system/index.html
  packages/design-system/package.json
  packages/design-system/scripts/generate-doc.ts
  packages/design-system/src/index.css
  packages/design-system/src/layouts/DocTemplate.tsx
  packages/design-system/src/layouts/Sidebar.tsx
  packages/design-system/src/layouts/SidebarNavItem.tsx
  packages/design-system/src/main.tsx
  packages/design-system/src/pages/ButtonExampleDocs.tsx
  packages/design-system/src/pages/LandingPage.tsx
  packages/design-system/src/routes/index.tsx
  packages/design-system/tsconfig.app.json
  packages/design-system/tsconfig.json
  packages/design-system/vite.config.ts
  pnpm-lock.yaml
Labels: ✨ Feat, 📝 Docs

#11 디자인 시스템 접속시 /docs로 리다이렉트
  packages/design-system/src/routes/index.tsx
Labels: ♻️ Refactor

#15 프로젝트 추가 세팅
  .node-version
  apps/what-today/src/App.tsx
  apps/what-today/src/apis/.gitkeep
  apps/what-today/src/apis/axiosInstance.ts
  apps/what-today/src/index.css
  apps/what-today/src/layouts/.gitkeep
  apps/what-today/src/layouts/Mypage.tsx
  apps/what-today/src/libs/.gitkeep
  apps/what-today/src/libs/queryProvider.tsx
  apps/what-today/src/main.tsx
  apps/what-today/src/pages/.gitkeep
  apps/what-today/src/pages/activities/index.tsx
  apps/what-today/src/pages/login/index.tsx
  apps/what-today/src/pages/main/index.tsx
  apps/what-today/src/pages/mypage/edit-profile/index.tsx
  apps/what-today/src/pages/mypage/manage-activities/index.tsx
  apps/what-today/src/pages/mypage/reservations-list/index.tsx
  apps/what-today/src/pages/mypage/reservations-status/index.tsx
  apps/what-today/src/pages/signup/index.tsx
  apps/what-today/src/routes/index.tsx
  apps/what-today/tsconfig.app.json
  apps/what-today/vite.config.ts
  package.json
  packages/design-system/package.json
  packages/design-system/src/index.css
  pnpm-lock.yaml
Labels: 📦 Chore, 📮 Api

#21 프로젝트 세팅 마무리
  .gitignore
  .vscode/settings.json
  apps/what-today/vite.config.ts
  package.json
  packages/design-system/package.json
  packages/design-system/src/assets/fonts/PretendardVariable.woff2
  packages/design-system/src/assets/icons/.gitkeep
  packages/design-system/src/assets/images/.gitkeep
  packages/design-system/vite.docs.config.ts
  pnpm-lock.yaml
Labels: 🐞 Bug, 📦 Chore

#33 아이콘 컴포넌트, 로고 추가
  packages/design-system/src/assets/icons/.gitkeep
  packages/design-system/src/components/icons/ArrowIcon.tsx
  packages/design-system/src/components/icons/ArtIcon.tsx
  packages/design-system/src/components/icons/BellIcon.tsx
  packages/design-system/src/components/icons/BusIcon.tsx
  packages/design-system/src/components/icons/CalendarIcon.tsx
  packages/design-system/src/components/icons/ChevronIcon.tsx
  packages/design-system/src/components/icons/DeleteIcon.tsx
  packages/design-system/src/components/icons/DotIcon.tsx
  packages/design-system/src/components/icons/EditIcon.tsx
  packages/design-system/src/components/icons/EyeIcon.tsx
  packages/design-system/src/components/icons/EyeOffIcon.tsx
  packages/design-system/src/components/icons/FoodIcon.tsx
  packages/design-system/src/components/icons/GithubIcon.tsx
  packages/design-system/src/components/icons/KaKaoIcon.tsx
  packages/design-system/src/components/icons/ListIcon.tsx
  packages/design-system/src/components/icons/LocationIcon.tsx
  packages/design-system/src/components/icons/MinusIcon.tsx
  packages/design-system/src/components/icons/MoreIcon.tsx
  packages/design-system/src/components/icons/PlusIcon.tsx
  packages/design-system/src/components/icons/SearchIcon.tsx
  packages/design-system/src/components/icons/SettingIcon.tsx
  packages/design-system/src/components/icons/SportIcon.tsx
  packages/design-system/src/components/icons/StarIcon.tsx
  packages/design-system/src/components/icons/TourIcon.tsx
  packages/design-system/src/components/icons/TriangleIcon.tsx
  packages/design-system/src/components/icons/UserIcon.tsx
  packages/design-system/src/components/icons/WellbeingIcon.tsx
  packages/design-system/src/components/icons/index.ts
  packages/design-system/src/components/icons/types/index.ts
  packages/design-system/src/components/icons/utils/getRotationOffset.ts
  packages/design-system/src/components/index.ts
  packages/design-system/src/components/logos/ImageLogo.tsx
  packages/design-system/src/components/logos/TextLogo.tsx
  packages/design-system/src/components/logos/index.ts
  packages/design-system/src/layouts/Sidebar.tsx
  packages/design-system/src/pages/IconDoc.tsx
  packages/design-system/src/pages/LogoDoc.tsx
  packages/design-system/src/routes/index.tsx
Labels: ✨ Feat, 📝 Docs

#41 로고 추가 및 수정 & 에러 수정 & 설정 파일 추가
  .coderabbit.yaml
  packages/design-system/src/components/icons/BellIcon.tsx
  packages/design-system/src/components/icons/CalendarIcon.tsx
  packages/design-system/src/components/icons/EyeIcon.tsx
  packages/design-system/src/components/icons/EyeOffIcon.tsx
  packages/design-system/src/components/icons/ListIcon.tsx
  packages/design-system/src/components/icons/MoreIcon.tsx
  packages/design-system/src/components/icons/SearchIcon.tsx
  packages/design-system/src/components/icons/SettingIcon.tsx
  packages/design-system/src/components/icons/TriangleIcon.tsx
  packages/design-system/src/components/icons/UserIcon.tsx
  packages/design-system/src/components/logos/EmptyLogo.tsx
  packages/design-system/src/components/logos/ImageLogo.tsx
  packages/design-system/src/components/logos/ProfileLogo.tsx
  packages/design-system/src/components/logos/TextLogo.tsx
  packages/design-system/src/components/logos/WarningLogo.tsx
  packages/design-system/src/components/logos/index.ts
  packages/design-system/src/components/logos/types/index.ts
  packages/design-system/src/pages/IconDoc.tsx
  packages/design-system/src/pages/LogoDoc.tsx
  packages/design-system/src/routes/index.tsx
Labels: ♻️ Refactor, ✨ Feat, 📦 Chore

#45 Textarea 공통 컴포넌트 구현
  packages/design-system/src/components/input/InputRoot.tsx
  packages/design-system/src/components/input/InputTextCounter.tsx
  packages/design-system/src/components/input/InputTextarea.tsx
  packages/design-system/src/components/input/index.ts
  packages/design-system/src/components/input/type/index.ts
  packages/design-system/src/layouts/Sidebar.tsx
  packages/design-system/src/pages/InputDoc.tsx
  packages/design-system/src/pages/TextareaDoc.tsx
  packages/design-system/src/routes/index.tsx
Labels: ✨ Feat, 🎨 Design

#49 체험관리 카드 컴포넌트 구현
  packages/design-system/src/components/ExperienceCard.tsx
  packages/design-system/src/components/index.ts
  packages/design-system/src/layouts/Sidebar.tsx
  packages/design-system/src/pages/ExperienceCardDoc.tsx
  packages/design-system/src/routes/index.tsx
Labels: ✨ Feat, 🎨 Design

#35 라디오 공통 컴포넌트 구현
  packages/design-system/src/components/RadioGroup/RadioGroup.tsx
  packages/design-system/src/components/RadioGroup/types/index.ts
  packages/design-system/src/components/index.ts
  packages/design-system/src/layouts/Sidebar.tsx
  packages/design-system/src/pages/RadioGroupDoc.tsx
  packages/design-system/src/routes/index.tsx
Labels: ✨ Feat

#53 버튼 컴포넌트 구현
  apps/what-today/src/index.css
  packages/design-system/src/components/Button.tsx
  packages/design-system/src/components/button/index.tsx
  packages/design-system/src/components/button/types/index.ts
  packages/design-system/src/components/icons/SpinIcon.tsx
  packages/design-system/src/components/icons/index.ts
  packages/design-system/src/components/index.ts
  packages/design-system/src/components/logos/EmptyLogo.tsx
  packages/design-system/src/components/logos/ProfileLogo.tsx
  packages/design-system/src/components/logos/WarningLogo.tsx
  packages/design-system/src/layouts/Sidebar.tsx
  packages/design-system/src/pages/ButtonDoc.tsx
  packages/design-system/src/pages/ButtonExampleDocs.tsx
  packages/design-system/src/pages/IconDoc.tsx
  packages/design-system/src/routes/index.tsx
Labels: ✨ Feat

#68 메인 카드 구현
  packages/design-system/src/components/MainCard/Content.tsx
  packages/design-system/src/components/MainCard/Image.tsx
  packages/design-system/src/components/MainCard/MainCardRoot.tsx
  packages/design-system/src/components/MainCard/context.ts
  packages/design-system/src/components/MainCard/index.ts
  packages/design-system/src/components/MainCard/types/index.tsx
  packages/design-system/src/components/index.ts
  packages/design-system/src/layouts/Sidebar.tsx
  packages/design-system/src/pages/MainCardDoc.tsx
  packages/design-system/src/routes/index.tsx
Labels: ✨ Feat

#47 MypageSidebar 컴포넌트 구현
  packages/design-system/src/components/MypageSidebar.tsx
  packages/design-system/src/components/icons/ExitIcon.tsx
  packages/design-system/src/components/icons/index.ts
  packages/design-system/src/layouts/Sidebar.tsx
  packages/design-system/src/pages/IconDoc.tsx
  packages/design-system/src/pages/MypageSidebarDoc.tsx
  packages/design-system/src/routes/index.tsx
Labels: ✨ Feat, 🎨 Design

#57 Popover & Select 공통 컴포넌트 구현
  packages/design-system/src/components/Portal.tsx
  packages/design-system/src/components/Slot.tsx
  packages/design-system/src/components/index.ts
  packages/design-system/src/components/popover/PopoverContent.tsx
  packages/design-system/src/components/popover/PopoverContext.tsx
  packages/design-system/src/components/popover/PopoverRoot.tsx
  packages/design-system/src/components/popover/PopoverTrigger.tsx
  packages/design-system/src/components/popover/index.ts
  packages/design-system/src/components/popover/types/index.ts
  packages/design-system/src/components/popover/utils/popoverPosition.ts
  packages/design-system/src/components/select/SelectContent.tsx
  packages/design-system/src/components/select/SelectGroup.tsx
  packages/design-system/src/components/select/SelectItem.tsx
  packages/design-system/src/components/select/SelectLabel.tsx
  packages/design-system/src/components/select/SelectRoot.tsx
  packages/design-system/src/components/select/SelectTitle.tsx
  packages/design-system/src/components/select/SelectTrigger.tsx
  packages/design-system/src/components/select/SelectValue.tsx
  packages/design-system/src/components/select/context/index.ts
  packages/design-system/src/components/select/index.ts
  packages/design-system/src/components/select/types/SelectItem.ts
  packages/design-system/src/components/select/types/index.ts
  packages/design-system/src/layouts/Sidebar.tsx
  packages/design-system/src/pages/PopoverDoc.tsx
  packages/design-system/src/pages/SelectDoc.tsx
  packages/design-system/src/routes/index.tsx
Labels: ✨ Feat, 🎨 Design

#67 Calendar 합성컴포넌트로 리팩토링
  packages/design-system/src/components/calendar/Calendar.tsx
  packages/design-system/src/components/calendar/CalendarContext.tsx
  packages/design-system/src/components/calendar/CalendarGrid.tsx
  packages/design-system/src/components/calendar/CalendarHeader.tsx
  packages/design-system/src/components/calendar/CalendarRoot.tsx
  packages/design-system/src/components/calendar/DayCell.tsx
  packages/design-system/src/components/calendar/index.ts
  packages/design-system/src/components/dropdown/DropdownRoot.tsx
  packages/design-system/src/components/dropdown/index.ts
  packages/design-system/src/pages/CalendarDoc.tsx
Labels: ♻️ Refactor, ✨ Feat, 🎨 Design

#64 Toast 공통 컴포넌트 구현
  packages/design-system/src/components/Toast/ToastClose.tsx
  packages/design-system/src/components/Toast/ToastDescription.tsx
  packages/design-system/src/components/Toast/ToastTitle.tsx
  packages/design-system/src/components/Toast/index.tsx
  packages/design-system/src/components/Toast/types/index.ts
  packages/design-system/src/components/icons/ErrorIcon.tsx
  packages/design-system/src/components/icons/InfoIcon.tsx
  packages/design-system/src/components/icons/SuccessIcon.tsx
  packages/design-system/src/components/icons/index.ts
  packages/design-system/src/components/index.ts
  packages/design-system/src/layouts/Sidebar.tsx
  packages/design-system/src/main.tsx
  packages/design-system/src/pages/IconDoc.tsx
  packages/design-system/src/pages/ToastDoc.tsx
  packages/design-system/src/routes/index.tsx
Labels: ✨ Feat, 🎨 Design

#73 NotificationCard 컴포넌트 구현
  packages/design-system/src/components/NotificationCard.tsx
  packages/design-system/src/components/icons/ClockIcon.tsx
  packages/design-system/src/components/icons/DocumentIcon.tsx
  packages/design-system/src/components/icons/index.ts
  packages/design-system/src/components/index.ts
  packages/design-system/src/layouts/Sidebar.tsx
  packages/design-system/src/pages/NotificationCardDoc.tsx
  packages/design-system/src/routes/index.tsx
Labels: ✨ Feat, 🎨 Design

#77 체험관리 페이지 기본 UI 생성
  apps/what-today/src/components/MypageSidebar.tsx
  apps/what-today/src/layouts/Mypage.tsx
  apps/what-today/src/pages/mypage/manage-activities/index.tsx
  packages/design-system/src/components/MypageSidebar.tsx
  packages/design-system/src/layouts/Sidebar.tsx
  packages/design-system/src/pages/MypageSidebarDoc.tsx
  packages/design-system/src/routes/index.tsx
Labels: ✨ Feat, 🎨 Design

#84 캘린더 예약상태 반영
  apps/what-today/src/components/reservations-status/ReservationCalendar.tsx
  packages/design-system/src/components/calendar/CalendarRoot.tsx
  packages/design-system/src/components/calendar/DayCell.tsx
  packages/design-system/src/components/index.ts
  packages/design-system/src/pages/CalendarDoc.tsx
Labels: ♻️ Refactor, ✨ Feat

#74 Footer 구현
  packages/design-system/src/components/Footer.tsx
  packages/design-system/src/components/index.ts
  packages/design-system/src/layouts/Sidebar.tsx
  packages/design-system/src/pages/FooterDoc.tsx
  packages/design-system/src/routes/index.tsx
Labels: ✨ Feat

#98 카카오 간편 회원가입 & 로그인 구현
  apps/what-today/src/apis/auth.ts
  apps/what-today/src/hooks/useKakaoOAuth.ts
  apps/what-today/src/layouts/Mypage.tsx
  apps/what-today/src/pages/kakao-callback-signup/index.tsx
  apps/what-today/src/pages/kakao-callback/index.tsx
  apps/what-today/src/pages/login/index.tsx
  apps/what-today/src/pages/signup/index.tsx
  apps/what-today/src/routes/index.tsx
  apps/what-today/src/utils/generateTemporaryNickname.ts
  apps/what-today/vite.config.ts
  packages/design-system/src/routes/index.tsx
  packages/design-system/vite.config.ts
Labels: ✨ Feat, 📮 Api

#87 메인 베너 구현
  packages/design-system/src/components/MainBanner/MainBanner.tsx
  packages/design-system/src/components/MainBanner/dummyBanners.ts
  packages/design-system/src/layouts/Sidebar.tsx
  packages/design-system/src/pages/MainBannerDoc.tsx
  packages/design-system/src/routes/index.tsx
Labels: ✨ Feat

#97 체험 상세 페이지 기초 UI 구현
  apps/what-today/src/hooks/.gitkeep
  apps/what-today/src/hooks/useResponsive.ts
  apps/what-today/src/layouts/DefaultLayout.tsx
  apps/what-today/src/pages/activities/index.tsx
Labels: ✨ Feat, 🎨 Design, 📮 Api

#119 내 정보 페이지 API 연결
  apps/what-today/src/apis/auth.ts
  apps/what-today/src/components/Header.tsx
  apps/what-today/src/components/MypageSidebar.tsx
  apps/what-today/src/components/auth/PasswordConfirmInput.tsx
  apps/what-today/src/layouts/Mypage.tsx
  apps/what-today/src/pages/mypage/edit-profile/index.tsx
  packages/design-system/src/components/ProfileImageInput.tsx
  packages/design-system/src/pages/ProfileImageInputDoc.tsx
Labels: ♻️ Refactor, 📮 Api

#114 모달 공통 컴포넌트 구현
  packages/design-system/src/components/index.ts
  packages/design-system/src/components/modal/ModalActions.tsx
  packages/design-system/src/components/modal/ModalCancelButton.tsx
  packages/design-system/src/components/modal/ModalCloseButton.tsx
  packages/design-system/src/components/modal/ModalConfirmButton.tsx
  packages/design-system/src/components/modal/ModalContent.tsx
  packages/design-system/src/components/modal/ModalContext.tsx
  packages/design-system/src/components/modal/ModalRoot.tsx
  packages/design-system/src/components/modal/hooks/useClickOutside.ts
  packages/design-system/src/components/modal/hooks/useEscToClose.ts
  packages/design-system/src/components/modal/hooks/useLockBodyScroll.ts
  packages/design-system/src/components/modal/index.ts
  packages/design-system/src/components/modal/types/index.ts
  packages/design-system/src/layouts/Sidebar.tsx
  packages/design-system/src/pages/ModalDoc.tsx
  packages/design-system/src/routes/index.tsx
Labels: ✨ Feat

#125 데이트 피커 구현
  packages/design-system/src/components/DatePicker.tsx
  packages/design-system/src/components/index.ts
  packages/design-system/src/layouts/Sidebar.tsx
  packages/design-system/src/pages/DatePickerDoc.tsx
  packages/design-system/src/routes/index.tsx
Labels: ✨ Feat

#107 MainSearchInput 구현
  apps/what-today/src/layouts/DefaultLayout.tsx
  apps/what-today/src/pages/main/index.tsx
  packages/design-system/src/components/Carousel/Carousel.tsx
  packages/design-system/src/components/Carousel/MobileCarousel.tsx
  packages/design-system/src/components/Carousel/NavigationButton.tsx
  packages/design-system/src/components/Footer.tsx
  packages/design-system/src/components/MainCard/Content.tsx
  packages/design-system/src/components/MainCard/MainCardRoot.tsx
  packages/design-system/src/components/MainCard/index.ts
  packages/design-system/src/components/MainSearchInput/MainSearchInput.tsx
  packages/design-system/src/components/MainSearchInput/types/index.ts
  packages/design-system/src/components/index.ts
  packages/design-system/src/layouts/Sidebar.tsx
  packages/design-system/src/pages/MainCardDoc.tsx
  packages/design-system/src/pages/MainSearchInputDoc.tsx
  packages/design-system/src/routes/index.tsx
Labels: ✨ Feat

#128 TimePicker 컴포넌트 구현
  packages/design-system/src/components/TimePicker.tsx
  packages/design-system/src/components/index.ts
  packages/design-system/src/layouts/Sidebar.tsx
  packages/design-system/src/pages/TimePickerDoc.tsx
  packages/design-system/src/routes/index.tsx
Labels: ✨ Feat

#96 이미지 업로더 구현
  packages/design-system/src/components/ExperienceImageUpload/BannerInput.tsx
  packages/design-system/src/components/ExperienceImageUpload/IntroduceInput.tsx
  packages/design-system/src/components/ExperienceImageUpload/index.tsx
  packages/design-system/src/components/ExperienceImageUpload/types/index.ts
  packages/design-system/src/layouts/Sidebar.tsx
  packages/design-system/src/pages/ExperienceImageUploadDoc.tsx
  packages/design-system/src/routes/index.tsx
Labels: ✨ Feat

#139 데이트 피커 리팩토링
  packages/design-system/src/components/DatePicker.tsx
  packages/design-system/src/routes/index.tsx
Labels: ♻️ Refactor

#140 내 알림 API 연결
  apps/what-today/src/apis/myNotifications.ts
  apps/what-today/src/components/Header.tsx
  apps/what-today/src/components/notification/NotificationPopover.tsx
  apps/what-today/src/components/notification/mock-notifications-pages.json
  apps/what-today/src/hooks/useIntersectionObserver.ts
  apps/what-today/src/schemas/myNotifications.ts
  packages/design-system/src/components/NotificationCard.tsx
Labels: 📮 Api

#152 메인카드, 케러셀 onClick 프롭 추가
  packages/design-system/src/components/Carousel/Carousel.tsx
  packages/design-system/src/components/Carousel/types/index.ts
  packages/design-system/src/components/MainCard/MainCardRoot.tsx
  packages/design-system/src/components/MainCard/types/index.tsx
Labels: ✨ Feat

#158 바텀시트 훅 변경 및 빌드 오류 긴급 수정
  packages/design-system/src/components/AddressInput/openDaumPostcode.tsx
  packages/design-system/src/components/bottomsheet/hooks/index.ts
Labels: ♻️ Refactor, 🐞 Bug

#154 예약 내역 페이지 API 연결
  apps/what-today/src/pages/mypage/reservations-list/index.tsx
  packages/design-system/src/components/modal/ModalConfirmButton.tsx
  packages/design-system/src/components/modal/types/index.ts
Labels: ✨ Feat, 🎨 Design, 📮 Api

#163 예약 내역 페이지 리팩토링 & 디자인 수정
  apps/what-today/src/apis/myReservations.ts
  apps/what-today/src/pages/mypage/reservations-list/index.tsx
  apps/what-today/src/schemas/myReservations.ts
Labels: ♻️ Refactor, 🎨 Design, 📮 Api

#144 페이지네이션 커서 포인터 추가 텍스트 컬러 수정
  packages/design-system/src/components/Pagination.tsx
  packages/design-system/src/components/addressInput/OpenDaumPostcode.tsx
Labels: ♻️ Refactor

#167 체험 상세페이지 예약 구현 및 Tanstack Query로 리팩토링
  apps/what-today/src/apis/activityDetail.ts
  apps/what-today/src/components/activities/ReservationBottomBar.tsx
  apps/what-today/src/components/activities/reservation/CalendarSelector.tsx
  apps/what-today/src/components/activities/reservation/DesktopReservation.tsx
  apps/what-today/src/components/activities/reservation/HeadCountSelector.tsx
  apps/what-today/src/components/activities/reservation/MobileReservationSheet.tsx
  apps/what-today/src/components/activities/reservation/ReservationForm.tsx
  apps/what-today/src/components/activities/reservation/TabletReservationSheet.tsx
  apps/what-today/src/components/activities/reservation/TimeSelector.tsx
  apps/what-today/src/components/activities/reservation/hooks/useReservation.ts
  apps/what-today/src/components/activities/reservation/types/index.ts
  apps/what-today/src/hooks/activityDetail/index.ts
  apps/what-today/src/hooks/activityDetail/useActivityDetail.ts
  apps/what-today/src/hooks/activityDetail/useCreateReservation.ts
  apps/what-today/src/pages/activities/index.tsx
  apps/what-today/src/schemas/myReservations.ts
  packages/design-system/src/components/bottomsheet/BottomSheetContent.tsx
  packages/design-system/src/components/bottomsheet/hooks/index.ts
  packages/design-system/src/components/bottomsheet/types/index.ts
Labels: ♻️ Refactor, ✨ Feat, 📮 Api

#169 체험관리 페이지 Tanstack Query로 리팩토링
  apps/what-today/src/apis/myActivities.ts
  apps/what-today/src/hooks/useMyActivitiesQuery.ts
  apps/what-today/src/pages/mypage/manage-activities/index.tsx
  apps/what-today/src/schemas/myReservations.ts
  packages/design-system/src/components/addressInput/OpenDaumPostcode.tsx
Labels: ♻️ Refactor, ✨ Feat, 📮 Api

#134 체험 등록 페이지
  apps/what-today/src/apis/experiences.ts
  apps/what-today/src/pages/experiences/index.tsx
  apps/what-today/src/pages/mypage/manage-activities/index.tsx
  apps/what-today/src/routes/index.tsx
  apps/what-today/src/schemas/experiences.ts
  packages/design-system/src/components/DatePicker.tsx
  packages/design-system/src/components/ExperienceImageUpload/BannerInput.tsx
  packages/design-system/src/components/ExperienceImageUpload/IntroduceInput.tsx
  packages/design-system/src/components/ExperienceImageUpload/types/index.ts
  packages/design-system/src/components/addressInput/AddressInput.tsx
  packages/design-system/src/components/addressInput/OpenDaumPostcode.tsx
  packages/design-system/src/components/addressInput/types/index.ts
  packages/design-system/src/components/index.ts
Labels: ✨ Feat

#150 메인페이지 api 연동
  apps/what-today/src/apis/activities.ts
  apps/what-today/src/pages/main/index.tsx
  apps/what-today/src/pages/mypage/manage-activities/index.tsx
  packages/design-system/src/components/addressInput/AddressInput.tsx
  packages/design-system/src/components/addressInput/OpenDaumPostcode.tsx
  packages/design-system/src/pages/AddressInputDoc.tsx
Labels: 📮 Api

#178 UI 통일을 위한 프로젝트 세팅
  apps/what-today/src/index.css
  packages/design-system/src/components/button/index.tsx
  packages/design-system/src/index.css
Labels: 🎨 Design, 📦 Chore

#180 예약 내역 페이지 리팩토링
  apps/what-today/src/index.css
  apps/what-today/src/pages/mypage/reservations-list/index.tsx
  packages/design-system/src/components/ReservationCard.tsx
  packages/design-system/src/index.css
Labels: ♻️ Refactor, 🎨 Design
